.toolbar {
  background-color: rgb(10, 63, 99);
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.toolbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} 

.toolbar a:hover {
  background-color: #ddd;
  color: rgb(73, 129, 167);
}

#logo{
position: fixed;
top: 0;
left: 0;
}
