body {
  text-align: center;
  font-style: oblique;
  font-size: 18px;
}

.toolbar {
  background-color: rgb(10, 63, 99);
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.toolbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} 

.toolbar a:hover {
  background-color: #ddd;
  color: rgb(73, 129, 167);
}

.row {
  padding-bottom: 5px;
}

.Portrait_Images {
  float: left;
  width: 15%;
  height: 200px;
  padding-left: 5px;
}

.Landscape_Images {
  float: left;
  width: 25%;
  height: 200px;
  padding-left: 5px;
}

.q {
  width: 100%;
  height: inherit;
  padding-left: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

#playlist{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#like{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: auto;
}


#qrcoder{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#spq{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message{
  display: flex;
  flex-direction: column;
  align-items: center;
  resize: none;
}

.section {
  width: 100%;
}